<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
    <link rel = "icon" href ="/static/clean.png" type = "image/x-icon">
    <title>ggg
    </title>
</head>
<body>
    <nav>
        <ul>
            <li><a href=""><h2>:input item</h2></a></li>
            <li><a href=""><h2>:show all items</h2></a></li>
            <li><a href=""><h2>:by category</h2></a></li>
            <li><a href=""><h2>:by customer</h2></a></li>
        </ul>
    </nav>
</body>
</html>
