<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="ff.css">
</head>
<body>
<div class="v1_2">
    <div class="v59011_22"></div>
    <span class="v59011_23">ssdafAFaf</span>
    <div class="v1_44">
        <div class="v1_3"></div>
        <span class="v59011_20">:by customer</span>
        <span class="v59011_18">:by category</span>
        <span class="v1_45">:show all items</span>
        <span class="v1_42">Shopping List</span>
    </div>
</div>
</body>
</html>
