nav {width: auto;
    margin: 0px;
}
nav:before {
    content:'';
    align: center
    display:block;
    height: 80px;
    width:100%;
    background: rgb(77, 40, 137);
    position:absolute;
    z-index:-1}
ul {
    padding:10px;
    list-style:none;
    height:100px;

    }
ul li {
    float:left;}
ul li a {
    color: rgb(255, 254, 254);
    display:block;
    height:auto;
    font-family: Arial;
    padding:0 20px;
    line-height:30px;}
ul li a:hover {
    background: #ed29fd
}
form {
text-align: center;
}

h1 {
    text-transform: uppercase;
    text-align:center
}
h4 {
    text-transform: uppercase;
    text-align:center
}
